mixin icon(name, color)
  svg(class = `icon icon-${name}${color ? ' icon-' + color: ''}`)&attributes(attributes)
    use(xlink:href = `/img/icons.svg#${name}`)

block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1', shrink-to-fit='no')
    link(href="https://fonts.googleapis.com/css?family=Alegreya+SC:500|Montserrat:400,600,900|Roboto+Slab&display=swap&subset=cyrillic", rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    link(rel='shortcut icon', type='image/x-icon', href=faviconUrl)
    title= title
  body
    div.page
      header

      main.page__main
        block content
      footer
    
    script(type='text/javascript', src='/js/main.js')